<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='second.css') }}"
    />
    <title>Your Info</title>
  </head>
  <body>
    <div id="container">
      <h1>Thank You!</h1>
      <h2>{{ name }}</h2>
      <h4>Your Dojo location is: <br /><span>{{ location}}</span></h4>
      <h4>
        Your favorite coding language is: <br /><span>{{ language }}</span>
      </h4>
      <h4>
        👀 We see your comment: <br />
        <span>{{ comment }}</span>
      </h4>
    </div>
  </body>
</html>
